{% load static %}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/pico.min.css' %}">
        <title>Мой Блог</title>
    </head>
    <body>
        <main class='container-fluid'>
        <header>
        <h1>Оружия</h1>
        </header>
        <main class='container'>
        {% for weapon in weapons %}
            <article>
                <header>
                    <h2>
                    <a href="{% url 'dice:weapon_detail' pk=weapon.pk %}">
                        {{ weapon.name }}
                    </a>
                    </h2>
                </header>
                <p>{{ weapon.damage|truncatewords:30 }}</p>
            </article>
        {% endfor %}
        </main>
        </main>
    </body>
    </html>
